.article-container
  .header-content
    = image_tag article.user.gravatar_url, class: 'user-avatar'
    %h2.article-title= article.title
    %span.date 
      Creado el 
      = l article.created_at ? article.created_at : Time.now
      por
    %span.username= article.user.username 
  .info-article
    %span.leasson Leassons learned
    %p= article.summary 
    .tags
      - article.tag_list.each do |t|
        %span.tag= t
  .article-content
    %p= markdown article.content
  .buttons
    =link_to "Regresar", "javascript:void(0)", id:"js-back", class:"btn recomendar"
