<div><%=@article.title%></div>
<hr />
<div><%=@article.summary%></div>
<hr />
<div><%=@article.content%></div>
<hr />
<div class="logs">
  <% @logs.each do |l| %>
    <% if l == @logs.first %>
    <div class="log"> Last update at <%= l.created_at %> by <%= l.user.username %> </div>
<% else %>
    <div class="log"> Modified at <%= l.created_at %> by <%= l.user.username %> </div>
<% end %>
<% end %>
  <div class="log"> Created at <%= @article.created_at %> by <%= @article.user.username %> </div>
  <hr />
</div>
<% @tags.each do |t| %>
  <span class="tag"> <%= t %> </span>
<% end %>

