<div><%=@article.title%></div>
<hr />
<div><%=@article.summary%></div>
<hr />
<div><%=@article.content%></div>
<hr />
<div class="logs">
  <% if @logs.first %>
    <div class="log"> Last update at <%= @logs.first.created_at %> by <%= @logs.first.user.username %> </div>
  <% end %>

  <% rest(@logs).each do |l| %>
    <div class="log"> Modified at <%= l.created_at %> by <%= l.user.username %> </div>
  <% end %>

<div class="log"> Created at <%= @article.created_at %> by <%= @article.user.username %> </div>
<hr />
</div>
<% @tags.each do |t| %>
<span class="tag"> <%= t %> </span>
<% end %>
<hr />
<%= link_to "New Comment", [:new, @commentable, :comment], class: "new_comment_link", remote: true %>
<div class="comments">
  <% @comments.each do |comment| %>
    <div class="comment">
      <b><%= comment.user.username %></b>
      <%= comment.content %>
      <hr />
    </div>
  <% end %>
</div>
