.article-container
  .header-content
    = image_tag @article.user.gravatar_url, class: 'user-avatar'
    %h2.article-title= @article.title
    %span.date 
      Creado el 
      = l @article.created_at
      por
    %span.username= @article.user.username
  .info-article
    %span.leasson Leassons learned
    %p= find_and_preserve markdown @article.summary
    .tags
      - @tags.each do |tag_name|
        %span.tag= tag_name
  .article-content
    %p= find_and_preserve markdown @article.content
  .feed
    -if @last_log
      %span 
        =link_to "Ultima modificación", article_audit_path(@last_log)
        el
        = l @last_log.created_at
        por
        = @last_log.user.username
    -@logs.each do |l|
      %span
        =link_to "Modificado", article_audit_path(l)
        el
        =l l.created_at
        por
        =l.user.username
#js-comments.coments-container
  %h3
    =@article.comments.count
    Comments
  =link_to "New Comment", [:new, @commentable, :comment], id: "js-new-comment-link", remote: true
  =render @comments, article: @article
=will_paginate @comments, page_links: false, previous_label: "", next_label: "Mostrar más", id:"js-comments-pagination"
