<!DOCTYPE html>
<html>
<head>
  <title>Wiki</title>
  <%= stylesheet_link_tag    "application", "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css", :media => "all" %>
  <%= javascript_include_tag "application", "http://code.jquery.com/ui/1.10.3/jquery-ui.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="ui-widget">
  <%= form_tag articles_path, method: :get do %>
    <%= text_field_tag :tag, params[:tag], placeholder: "Search by tag", data: { tags: ActsAsTaggableOn::Tag.pluck(:name) } %>
  <%= submit_tag  t("search.form.submit") %>
<% end %>
</div>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to t("users.session.button.logout"), destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to t("users.session.button.login"), new_user_session_path %>
<% end %>
<%= yield %>
</body>
</html>
